@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Great+Vibes&display=swap");

:root{
    --header-color:rgb(118, 227, 118);
    --font-color:white;
    --logo-font:"Agbalumo",system-ui;
    --line-font:"Great Vibes",serif;
    --normal-font:"Times New Roman",serif;
    --logo-size:2rem;
    --tab-size:1.2rem;
    --back-color:rgb(249, 247, 247);
    --normal-text:1rem;

}

ul{
    padding: 0px;
    margin:0px;
}

#phone>img{
    width: 40px;
    height: auto;
}
img{
    width:90%;
    height: auto;
}


body{
    margin:0px;
    padding: 0px;
    background-color: var(--back-color);
    display: grid;
    grid-template-columns: 1fr;
    gap:10px;

}

#top{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding:10px 30px;
    background-color: var(--header-color);
    color:var(--font-color);
    align-items: center;
    box-shadow: 1px 2px 8px 2px rgb(47, 121, 51);

}

#name{
    grid-column: 1/2;
    justify-self: start;
    font-family: var(--logo-font);
    font-size: var(--logo-size);
    display: flex;
    align-items: center;
    justify-content: center;
}
#name+div,
#phone{
    display: flex;
    gap:10px;
    align-items: center;
}
#name+div{
    grid-column: 2/3;
    justify-self: center;
}


nav>button{
    background-color: var(--header-color);
    color: var(--font-color);
    border:none;
    font-size: var(--tab-size);
    /* font-weight: bold; */

}

#phone{
    grid-column: 3/4;
    justify-self: end;
    font-size: var(--tab-size);
    font-weight: bold;
}

nav>button:hover{
    font-weight: bold;

}

#content{
    width: 80%;
    background-color: var(--font-color);
    justify-self: center;
    box-shadow: 1px 2px 8px 2px rgb(47, 121, 51);
    border-radius: 10px;
    padding-bottom: 50px;


}


.clicked{
    border-bottom: 3px solid white;
    border-radius: 1px;
}

.message{
    font-size: calc(var(--normal-text)*2);
    font-family: "Great vibes";
    font-weight: bold;
    padding: 30px 60px;
    color:var(--header-color);

}